@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("ttf");
    font-weight: 400 700;
    font-display: swap;
}

:root {
    --primary-light-green: 148 38 91;
    --primary-red: 0 66 56;
    --primary-green: 169 82 27;

    --neutral-white: 0 0 100;
    --neutral-grey: 187 24 22;
    --neutral-dark: 187 24 22;

    --border-radius: 0.5rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Karla";

    color: hsl(var(--neutral-grey));
    background-color: hsl(var(--primary-light-green));
    margin: 0;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    margin: 0;

}

main {
    margin: auto;
}

.contact-form {
    background-color: hsl(var(--neutral-white));
    padding: 2rem;
    border-radius: var(--border-radius);

    margin: auto;
}

.contact-form-title {
    margin-top: 0;
}

.contact-form>button {
    padding: 1rem;

    color: hsl(var(--neutral-white));
    background-color: hsl(var(--primary-green));

    border: 1px solid;
    border-radius: var(--border-radius);

    width: 100%;
    margin-top: 2rem;
}

.contact-form-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    max-width: 75ch;
}

.contact-form-group {
    flex-grow: 1;
    height: 100%;
}

.contact-form-group label {
    font-size: 16px;

    text-wrap: wrap;
}

.contact-form-group:has(:is(input[required], textarea))>label::after {
    content: " *";
    color: hsl(var(--primary-green));
}

input,
textarea,
label,
button {
    cursor: pointer;
}

.contact-form-group input:is(:not([type='radio'], [type='checkbox'])),
.contact-form-group textarea,
.contact-form-group .input-radio {
    border: 1px solid;
    border-radius: var(--border-radius);

    margin-block: 0.5rem;
    padding: .75rem 1rem;

    width: 100%;

}

.contact-form-group>textarea {
    resize: none;
    height: 100%;
}

.contact-form-group input:is(:active, :focus, :focus-within, :hover),
.contact-form-group textarea:is(:active, :focus, :focus-within, :hover),
.input-radio:hover {
    border-color: hsl(var(--primary-green));
}

.contact-form-group input:focus-visible {
    outline-color: hsl(var(--primary-green));
}

.contact-form-group input:is([type='radio'], [type='checkbox']) {
    accent-color: hsl(var(--primary-green));
}

.contact-form-group .input-radio {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.contact-form-group .input-radio>label {
    padding-block: 1rem;
    width: 100%;
}

.contact-form-group .input-radio>input {
    width: 2em;
    aspect-ratio: 1;
}

.contact-form-group .input-radio:has(:checked) {
    background-color: hsl(var(--primary-light-green));
    border-color: hsl(var(--primary-green));
}

.input-error,
.input-error-invalid {
    margin-block: .5rem;
    color: hsl(var(--primary-red));
    display: none;
}

.contact-form-group:has(.isBlured):has(:invalid:placeholder-shown) input,
.contact-form-group:has(.isBlured):has(:invalid:placeholder-shown) textarea {
    border-color: hsl(var(--primary-red));
}


.contact-form-group:has(.isBlured):has(:invalid:placeholder-shown,
    [type='checkbox']:not(:checked)) .input-error,
.contact-form-group:has(.isBlured):not(:has([type='radio']:checked)) .input-error,
.contact-form-group:has(.isBlured):has(:invalid:not(:placeholder-shown)) .input-error-invalid {
    display: block;
}

.d-flex {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.w-full {
    width: 100%;
}

@media (width <768px) {
    .d-flex {
        flex-wrap: wrap;
    }

    label {
        max-width: 25ch;
    }

    .contact-form-group>textarea {
        aspect-ratio: 2;
    }

    .contact-form-fields {
        max-width: 35ch;
    }
}

.attribution {
    margin-bottom: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}